################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/raaronshaw.github.io/FileContentIndex/1d2175c3-4468-46c8-b53c-57dc5e6a18f4.vsidx
/.vs/slnx.sqlite
/.vs/raaronshaw.github.io/FileContentIndex
